body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 21, 21) !important;
}

#add-btn,
#moveUp-btn,
#moveDown-btn,
#delete-btn {
  font-family: 'Noto Color Emoji', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 5px 15px;
}

#add-btn {
  margin-left: 5px;
  background-color: rgb(21, 21, 21);
  border-color: rgb(245, 140, 21);
  color: rgb(245, 140, 21);
  border-style: solid;
  transition: all 0.3s ease;
}

#add-btn:hover {
  background-color: rgb(245, 140, 21);
  border-color: rgb(21, 21, 21);
  color: rgb(21, 21, 21);
}

#delete-btn {
  background-color: rgb(39, 39, 39);
  border-color: rgb(245, 140, 21);
  color: rgb(245, 140, 21);
  border-style: solid;
  transition: all 0.3s ease;
}

#delete-btn:hover {
  background-color: rgb(245, 140, 21);
  border-color: rgb(39, 39, 39);
  color: rgb(39, 39, 39);
}

#moveUp-btn,
#moveDown-btn {
  background-color: rgb(39, 39, 39);
  border-color: rgb(245, 215, 21);
  color: rgb(245, 215, 21);
  border-style: solid;
  transition: all 0.3s ease;
}

#moveUp-btn:hover,
#moveDown-btn:hover {
  background-color: rgb(210, 183, 5);
  border-color: rgb(39, 39, 39);
  color: rgb(39, 39, 39);
}

#error-msg {
  color: rgb(222, 20, 20);
  font-weight: bold;
}

#header-text {
  color: rgb(255, 255, 255);
}

#h2-text {
  color: rgb(138, 138, 138);
}

#unordered-list {
  background-color: rgb(39, 39, 39);
  color: rgb(195, 191, 191);
  border-style: none;
}

input {
  border-radius: 5px !important;
}
